<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>TOUR Homepage</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="../static/css/jumbotron-narrow.css" rel="stylesheet">
</head>

<body>

<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right navbar-collapse collapse">
                <li role="presentation" class="active"><a href="#">Home</a></li>
                <li role="presentation"><a href="/upload">Demo</a></li>
                <li role="presentation"><a href="https://github.com/yttty/tour" target="_blank">Source Code</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">TOUR</h3>
    </div>

    <div class="jumbotron">
        <h2>TOUR: Dynamic Topic and Sentiment Analysis of User Reviews for Assisting App Release</h2>
        <p class="lead" style="text-align: left;">

            App reviews serve as an essential channel for developers to collect user opinions about recent app bugs and
            features for app modification. TOUR provides an integrated interface for analyzing users' opinions towards
            your awesome app.

        </p>
        <p><a class="btn btn-lg btn-success" href="/upload" role="button">Try it!</a></p>
    </div>

    <div class="row marketing">
        <div class="col-lg-6">
            <h4>Topic-Sentiment Summary</h4>
            <p>Topic-based summarization of thousands of user reviews and further predicts sentiment
                polarities towards the topics.</p>

            <h4>Interactive Visualization</h4>
            <p>Visualize the features favorable and unfavorable by users through an interative and structured
                agenda.</p>
        </div>

        <div class="col-lg-6">
            <h4>User Opinion Identification</h4>
            <p>Identify user opinions towards app features based on customized polarity seed words;</p>

            <h4>Review Distillation</h4>
            <p>Distill actionable change tasks for improving app features.</p>
        </div>
    </div>

</div> <!-- /container -->

</body>

</html>